<link rel="stylesheet" type="text/css" href="">
<div class="cabecera">
<p>Jorge Gimenez</p>
</div>
<div class="Navegador">
	<div class="Access">
		<a href="inicion.html">Inicio</a>
		<a href="profile.html.erb">  Ficha Biografica</a>
		<a href="fotografias.hmtl">Fotos</a>
		<a href="curruculum.html"> Curriculum</a>
	</div>
</div>
 <div class="Fotos">
 	<blockquote><h1>Perfil</h1></blockquote>
 	<img src="Imagenes/matematica-4.png" width="256" height="188" align="center" />
<h4>"Uno sabe que hacer y como hacerlo si sabe comprenderlo"</h4>
</div>
<% @articulos.each do |article| %>
	<div class="articulo">
		<h1><%= article["titulo"] %></h1>
		<p><%= article["contenido"] %></p>
		<span><%= article["created_at"] %></span>
	</div>
<% end %>
<div class="Pie">
		<blockquote><h3>Mas informacion sobre Jorge Gimenez: <a href="http://facebook.com/Djorge.Gimenez" taget="_Blank">DJorge Gimenez</a> 
		o <a href="http://twitter.com/jrg_2033" taget="_Blank"> @jrg_2033</a></h3> </blockquote></div>