<link rel="stylesheet" type="text/css" href="">
<div class="cabecera">
<p>Jorge Gimenez</p>
</div>
<div class="Navegador">
	<div class="Access">
		<a href="inicion.html">Inicio</a>
		<a href="datos.html">  Ficha Biografica</a>
		<a href="fotografias.hmtl">Fotos</a>
		<a href="curruculum.html"> Curriculum</a>
	</div>
	<div class="ficha">
		<table>
			<ol>
				<li>Nombre: Jorge Ramon</li>
				<li>Apellido: Gimenez Lezme</li>
				<li>Fecha de Nacimiento: 30/06/1993</li>
				<li>Ciudad: Caacupe,Paraguay</li>
				<li>Color preferido: Azul</li>
				<li>Gustos e Intereces: Lectura de libros. Programacion</li>
				<li>Trabajos realizados: Voluntariados en proyectos educativos</li>
				<li>Referencias Historicas: Napoleon , Gandi, Maquiavelo, Copernico</li>
			</ol>
		</table>
	</div>
<div class="Pie">
		<blockquote><h3>Mas informacion sobre Jorge Gimenez:<a href="http://facebook.com/Djorge.Gimenez" taget="_Blank">DJorge Gimenez</a> 
		o <a href="http://twitter.com/jrg_2033" taget="_Blank"> @jrg_2033</a></h3> </blockquote></div>